@font-face {
  font-family: "TrajanPro-Bold";
  src: url(TrajanPro-Bold.otf);
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: #313336;
  color: white;
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  top: 0;
  height: 2.2rem;
}

body {
  font-family: "TrajanPro-Bold";
  margin: 0;
  padding: 0;
  background-color: #02030c;
  color: white;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
}

.box {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 10;
  padding: 10;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.box-item {
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
}

img {
  height: 20%;
  width: 20%;
}

footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  background-color: #313336;
  color: white;
  margin: 0;
  padding: 1rem;
}
